<h1 align="center" style="font-weight: bolder">All articles </h1>
<hr>
<div style="width: fit-content;margin: auto;">
  <%= will_paginate @article %>
</div>
<%= render 'article', obj: @articles %>
<div style="width: fit-content;margin: auto;">
  <%= will_paginate @article %>
</div>