<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/ashawareb">AbdUlRahman Shawareb</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>